/*
Theme Name:     EDigital
Theme URI:      https://mysterythemes.com/wp-themes/edigital/
Author:         Mystery Themes
Author URI:     https://mysterythemes.com
Description:    Edigital is a Multipurpose theme mainly designed for Easy Digital Downloads Plugin. This theme allows you to sell digital products utilizing very popular Easy Digital Downloads plugin, you can sell anything digital including items such as stock photos, plugins, softwares, audio files , videos, music, digital art such as icons, templates, themes, or photos etc.You can also use this theme as a business or blogging theme. Get free support at https://mysterythemes.com/support/forum/themes/free-themes/ , check the docs at http://docs.mysterythemes.com/edigital/ and check the demo at http://demo.mysterythemes.com/edigital/
Version:        1.1.0
License:        GNU General Public License v3 or later
License URI:    http://www.gnu.org/licenses/gpl-3.0.html
Text Domain:    edigital
Tags:           one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-colors, custom-menu, featured-images, sticky-post, translation-ready, e-commerce

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

EDigital is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v3 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, dfn, em, font, 
ins, kbd, q, s, samp, small, strike, strong, sub, sup, 
tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
    /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll;
    /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after {
    /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box;
    /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing: border-box;
    /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing: border-box;
}

body {
    background: #fff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

a img {
    border: 0;
}


/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    color: #3d3d3d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3;
    margin-bottom: 15px;
    color: #3d3d3d;
    font-weight: 700;
}

p {
    margin-bottom: 20px;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 15px;
    font-size: 20px;
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

address {
    margin: 0 0 15px;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}


/*--------------------------------------------------------------
Elements
--------------------------------------------------------------*/

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 15px;
}

ul,
ol {
    margin: 0 0 15px 20px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 15px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 15px 15px;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
    vertical-align: middle;
}

figure {
    margin: 0;
}

table {
    margin: 0 0 15px;
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    border: 1px solid #CCC;
    padding: 5px 10px;
}

td {
    border: 1px solid #CCC;
    padding: 5px 10px;
}


/*--------------------------------------------------------------
Forms
--------------------------------------------------------------*/

button,
input,
select,
textarea {
    font-size: 100%;
    /* Corrects font size not being inherited in all browsers */
    margin: 0;
    /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
    vertical-align: middle;
}

.navigation .nav-links a,
.bttn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    background: none;
    color: #3d3d3d;
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    font-size: 14px;
    line-height: 13px;
    height: 33px;
    border: none;
    padding: 10px 15px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    text-shadow: none;
    border: 1px solid #90c847;
}

.navigation .nav-links a:hover,
.bttn:hover,
button,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #90c847;
    color: #ffffff !important;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    color: #666;
    border: 1px solid #ccc;
    height: 36px;
    width: 100%;
    -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    border: 1px solid #AAA;
}

.searchform input[type="text"]:focus {
    border: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
    padding: 3px 6px;
}

textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    padding-left: 3px;
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
    color: #666;
    border: 1px solid #ccc;
    height: 160px;
    max-width: 100%;
    width: 100%;
}


/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/

a {
    color: #90c847;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

a:visited {}

a:hover,
a:focus,
a:active {
    color: #90c847;
}


/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar */
}


/*--------------------------------------------------------------
Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto;
}


/*--------------------------------------------------------------
Clearings
--------------------------------------------------------------*/

.clearfix:before,
.clearfix:after,
.row:before,
.row:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.mt-container:after,
.mt-container:before {
    content: '';
    display: table;
}

.clearfix:after,
.row:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.mt-container:after {
    clear: both;
}

.clear {
    clear: both;
}


/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 25px;
    padding-bottom: 10px;
}


/* Make sure select elements fit in widgets */

.widget select {
    max-width: 100%;
}


/*--------------------------------------------------------------
Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

h1.entry-title {
    color: #353535;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
    text-transform: capitalize;
}

h1.entry-title a {
    color: #3d3d3d;
}

.hentry {
    margin: 0 0 15px;
}

.single .byline,
.group-blog .byline,
.posted-on,
.blog-author,
.blog-cat {
    display: inline;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
}

.cat-links {
    margin-right: 10px;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 15px 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 15px;
}

.edit-link .post-edit-link {
    background: #90c847;
    padding: 4px 10px;
    color: #FFF !important;
    line-height: 1;
    border-radius: 3px;
    font-size: 13px;
}

.edit-link .post-edit-link:before {
    content: "\f044";
    font-family: FontAwesome;
    margin-right: 5px;
}

#blog-post article.hentry,
.search article.hentry,
.archive article.hentry,
.tag article.hentry,
.category article.hentry,
.blog article.hentry {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #DDD;
}

.blog article.hentry:first-child {
    margin-top: 30px;
}

article.hentry .edit-link {
    display: block;
    margin-top: 20px;
}

article.hentry h1.entry-title {
    margin-bottom: 5px;
    line-height: 1.2;
}

article.hentry .entry-footer > span {
    color: #999;
    font-size: 13px;
    margin-right: 15px;
}

.page-header .page-title {
    color: #333333;
    padding-bottom: 15px;
}

.posted-on:before {
    content: "\f073";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.cat-links:before {
    content: "\f07c";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.comments-link:before {
    content: "\f075";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.byline:before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.tags-links:before {
    content: "\f02c";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 3px;
}

.entry-footer a {
    color: #999;
}

.entry-footer a:hover {
    color: #90c847
}

.nav-links .meta-nav {
    display: none;
}

.nav-links .nav-previous,
.nav-links .nav-next {
    width: 50%;
    float: left;
}

.nav-links .nav-next {
    text-align: right;
}

.nav-links .nav-previous a:before {
    content: "\f0d9";
    font-family: FontAwesome;
    font-style: normal;
    margin-right: 5px;
}

.nav-links .nav-next a:after {
    content: "\f0da";
    font-family: FontAwesome;
    font-style: normal;
    margin-left: 5px;
}

.entry-thumbnail {
    width: 38%;
    float: left;
}

.entry-exrecpt {
    width: 60%;
    float: right;
}

.short-content {
    margin-bottom: 10px;
}

.short-content + .bttn {
    float: right;
}

.entry-footer {
    margin-top: 10px;
}

.full-width {
    float: none;
    width: 100%;
}

.updated {
    display: none;
}

.updated.published {
    display: block;
}


/*--------------------------------------------------------------
Asides
--------------------------------------------------------------*/

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}


/*--------------------------------------------------------------
Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

#comments h2.comments-title {
    color: #333;
    display: inline-block;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    margin: 15px 0;
    padding: 8px 15px;
}

#comments h3 {
    margin: 0 0 10px;
    color: #141414;
    font-weight: 600;
    display: inline-block;
    line-height: 22px;
    font-size: 18px;
}

#commentform label {
    width: 120px;
    display: block;
}

textarea#comment {
    width: 100%;
    height: 150px;
}


/*Comment Lists*/

.comments-area ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments-area ol.children {
    margin: 0 0 0 15px;
}

.comment-list .comment-body {
    padding: 15px;
    margin-bottom: 20px;
    background: #F2F2F2;
    border-top: 2px solid #90c847;
}

.comment-author img {
    vertical-align: text-top;
    margin-right: 15px;
}

.comment-author {
    float: left;
}

.comment-author .fn {
    font-style: normal;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
}

.comment-author .fn .url {
    color: #333;
    padding: 0 5px;
}

.comment-author .fn .url:hover {
    color: #90c847;
}

.comment-author .says {
    display: none;
}

.commentmetadata {
    float: right;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    font-weight: 300;
}

.commentmetadata a {
    color: #666;
}

.commentmetadata .comment-edit-link {
    color: #01AEFD;
}

.commentmetadata + .clear {
    margin-bottom: 20px;
}

.reply .comment-reply-link {
    background: none repeat scroll 0 0 #90c847;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 1;
    padding: 2px 10px;
}

#respond {
    background: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    color: #141414;
}

#commentform .form-submit {
    margin-bottom: 0;
}

#cancel-comment-reply-link {
    font-style: italic;
    color: #90c847;
}

#cancel-comment-reply-link:before {
    font-family: FontAwesome;
    content: "\f057";
    margin: 0 5px 0 20px;
    font-style: normal;
    color: #90c847;
}

.logged-in-as a {
    color: #90c847;
}


/*--------------------------------------------------------------
Infinite scroll
--------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .paging-navigation,

/* Older / Newer Posts Navigation (always hidden) */

.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}


/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */

.infinity-end.neverending .site-footer {
    display: block;
}

#infinite-footer {
    display: none;
}


/*--------------------------------------------------------------
Media
--------------------------------------------------------------*/

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.wp-caption {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
}

.wp-caption-text {
    text-align: center;
}

.wp-caption .wp-caption-text {
    margin: 10px 0;
}

.site-main .gallery {
    margin-bottom: 1.5em;
}

.gallery-caption {}

.site-main .gallery a img {
    border: none;
    height: auto;
    max-width: 90%;
}

.site-main .gallery dd,
.site-main .gallery figcaption {
    margin: 0;
}

.site-main .gallery-columns-4 .gallery-item {}

.site-main .gallery-columns-4 .gallery-item img {}


/* Make sure embeds and iframes fit their containers */

embed,
iframe,
object {
    max-width: 100%;
}


/*--------------------------------------------------------------
Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
    margin-left: -2%;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 3%;
    margin-left: 2%;
}

.site-main .gallery a img {
    max-width: none;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 47%;
}

.gallery-columns-3 .gallery-item {
    max-width: 31.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
}

.gallery-columns-5 .gallery-item {
    max-width: 18%;
}

.gallery-columns-6 .gallery-item {
    max-width: 14.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 12.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 10.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 9.11%;
}

.gallery-caption {
    display: block;
}


/*--------------------------------------------------------------
Default widget css
--------------------------------------------------------------*/

.home #primary-home .widget {
    margin: 0;
    padding: 0;
}

.widget_archive ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
    list-style: outside none none;
    margin: 0;
    padding-left: 10px;
}

.widget_archive li,
.widget_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget_archive li:last-child,
.widget_categories li:last-child,
.widget_recent_entries li:last-child,
.widget_meta li:last-child,
.widget_recent_comments li:last-child,
.widget_rss li:last-child,
.widget_pages li:last-child,
.widget_nav_menu li:last-child {
    border: none;
}

.widget_archive a,
.widget_categories a,
.widget_recent_entries a,
.widget_meta a,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li a,
.widget_nav_menu li a {
    color: #333333;
    font-size: 14px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    display: inline-block;
}

.widget a:hover,
.widget a:hover::before,
.widget li:hover::before {
    color: #90c847;
}

.widget_archive a::before,
.widget_categories a::before,
.widget_recent_entries a::before,
.widget_meta a::before,
.widget_recent_comments li::before,
.widget_rss li:before,
.widget_pages li a:before,
.widget_nav_menu li a:before {
    color: #afb4bd;
    content: "\f187";
    font-family: "FontAwesome";
    font-size: 14px;
    left: 0;
    position: absolute;
    top: 0px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget_categories a::before {
    content: "\f07b";
}

.widget_recent_entries a::before {
    content: "\f101";
}

.widget_meta a::before,
.widget_nav_menu li a:before {
    content: "\f105";
}

.widget_recent_comments li::before {
    content: "\f086";
    top: 0;
}

.widget_rss li::before {
    content: "\f09e";
    top: 0;
}

.widget_pages li a:before {
    content: "\f1ea";
    top: 0;
}

.widget_search .search-field {
    width: 75%;
    float: left;
}

.widget_search .search-submit {
    height: 36px;
    width: 25%;
    background: #90c847;
    border-color: #90c847;
    color: #ffffff;
}

.widget_recent_entries .post-date {
    color: #8f8f8f;
    display: block;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 24px;
}

.widget_nav_menu .sub-menu {
    display: none;
}

.widget_nav_menu li::before {
    top: 0;
}

.widget .widget-title {
    border-bottom: 1px solid #f6f7f8;
    color: #333333;
    font-size: 16px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}

.widget_search::after {
    clear: both;
    content: "";
    display: table;
}

.widget_search .search-field {
    width: 75%;
    float: left;
}

.widget_search .search-submit {
    height: 36px;
    width: 25%;
    background: #90c847;
    border-color: #90c847;
    color: #ffffff;
}


/*--------------------------------------------------------------
Sidebar layout css 
--------------------------------------------------------------*/

#primary,
.home.blog #primary,
.home.page-template-default #primary {
    float: left;
    width: 70%;
}

#secondary,
.home.blog #secondary,
.home.page-template-default #secondary {
    float: right;
    width: 27%;
}

.home #primary,
.home #secondary {
    float: none;
    width: 100%;
}

.left-sidebar #primary {
    float: right;
}

.left-sidebar #secondary {
    float: left;
}

.no-sidebar #primary,
.no-sidebar-center #primary {
    float: none;
    width: 100%;
    margin: 0 auto;
}

.no-sidebar #secondary {
    display: none;
}

.no-sidebar-center #primary {
    width: 70%;
}

.home.blog #content .mt-container {
    margin: 60px auto;
}

.home.blog #content #primary article:first-child {
    margin-top: 0;
}

.entry-header {
    margin-top: 20px;
}


/*--------------------------------------------------------------
Grid CSS
--------------------------------------------------------------*/

.mt-column-wrapper {
    margin-left: -3%;
}

.mt-column-1 {
    float: left;
    width: 97%;
    margin-left: 3%;
    margin-bottom: 2%;
}

.mt-column-2 {
    float: left;
    width: 47%;
    margin-left: 3%;
    margin-bottom: 2%;
}

.mt-column-3 {
    float: left;
    width: 30.33%;
    margin-left: 3%;
    margin-bottom: 2%;
}

.mt-column-4 {
    float: left;
    width: 22%;
    margin-left: 3%;
    margin-bottom: 2%;
}


/*--------------------------------------------------------------
COMMON CSS
--------------------------------------------------------------*/

body {
    font-weight: 400;
    overflow: hidden;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.8;
    color: #666666;
}

.boxed-layout #page {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    -webkit-box-shadow: 0 0 10px #c7c7c7;
    -moz-box-shadow: 0 0 10px #c7c7c7;
    box-shadow: 0 0 10px #c7c7c7;
    background-color: #ffffff;
}

#page {
    background: #fff none repeat scroll 0 0;
}

.mt-container {
    width: 1200px;
    margin: 0 auto;
}

.hide {
    display: none;
}


/*--------------------------------------------------------------
Header CSS
--------------------------------------------------------------*/

.home #masthead-sticky-wrapper,
.home.no-header-sticky #masthead {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.home #masthead.site-header {
    background: none;
}

.home #masthead-sticky-wrapper.is-sticky #masthead.site-header {
    background: #1c2326;
}

.home.blog #masthead-sticky-wrapper,
.home.page-template-default #masthead-sticky-wrapper {
    position: relative;
    margin-bottom: 50px;
    z-index: 9;
}

#masthead,
.home.blog #masthead,
.home.page-template-default #masthead {
    background: #1c2326 none repeat scroll 0 0;
    position: relative;
    padding: 5px 0;
    z-index: 9;
}

.home.blog #masthead {
    margin-bottom: 0;
}

.site-branding a {
    font-size: 22px;
    font-weight: 900;
    margin-top: 8px;
    text-transform: uppercase;
}

.site-branding a.custom-logo-link {
    display: block;
}

.site-branding {
    float: left;
}

.site-branding .site-title {
    line-height: 24px;
    margin: 0;
}

.site-description {
    margin-bottom: 10px;
}

.nav-cart-wrapper {
    float: right;
}

#site-navigation {
    float: left;
}

#site-navigation ul {
    list-style: none;
    margin: 0;
}

#site-navigation ul li {
    display: block;
    float: left;
    line-height: 60px;
    position: relative;
}

#site-navigation ul li a {
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 0 20px;
    text-transform: uppercase;
}

#site-navigation ul li.current-menu-item > a,
#site-navigation ul li:hover > a,
#site-navigation ul.sub-menu li:hover > a,
#site-navigation ul.children li:hover > a {
    color: #90c847;
}

#site-navigation ul.sub-menu,
#site-navigation .children {
    background: #1C2326 none repeat scroll 0 0;
    left: 0;
    min-width: 200px;
    opacity: 0;
    position: absolute;
    top: 120%;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    z-index: 99;
}

#site-navigation ul li:hover > ul.sub-menu,
#site-navigation ul li:hover > ul.children {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

#site-navigation ul.sub-menu li,
#site-navigation ul.children li {
    border-bottom: 1px solid #e1e1e1;
    display: block;
    float: none;
    line-height: 42px;
}

#site-navigation ul.sub-menu li a,
#site-navigation ul.children li a {
    color: #ffffff;
}

#site-navigation ul.sub-menu li:last-child,
#site-navigation ul.children li:last-child {
    border: none;
}

#site-navigation ul.sub-menu ul,
#site-navigation ul.children ul {
    right: -100%;
    left: auto;
    top: -20%;
}

#site-navigation ul.sub-menu li:hover > ul,
#site-navigation ul.children li:hover > ul {
    top: 0;
}

#site-navigation li.menu-item-has-children > a:after,
#site-navigation li.page_item_has_children > a:after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 5px;
    top: 2px;
}

#site-navigation li.menu-item-has-children > a:after {
    right: 15px;
}

#site-navigation ul.sub-menu li.menu-item-has-children > a:after,
#site-navigation ul.children li.menu-item-has-children > a:after {
    content: "\f105";
}

#site-navigation ul li.menu-item-has-children > a {
    margin-right: 15px;
}

#edigital-header-cart {
    float: right;
}

.sub-toggle {
    display: none;
}

.header-search-wrapper {
    float: left;
}

.header-search-wrapper .search-form-main {
    background: rgba(144, 200, 71, 0.7) none repeat scroll 0 0;
    height: 100%;
    left: 50%;
    position: fixed;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width 0.3s ease 0.3s, visibility 0s ease 0.8s;
    -moz-transition: width 0.3s ease 0.3s, visibility 0s ease 0.8s;
    -ms-transition: width 0.3s ease 0.3s, visibility 0s ease 0.8s;
    -o-transition: width 0.3s ease 0.3s, visibility 0s ease 0.8s;
    transition: width 0.3s ease 0.3s, visibility 0s ease 0.8s;
    visibility: hidden;
    width: 0;
    z-index: 999999;
}

.header-search-wrapper .search-form-main.active {
    -webkit-transition: width 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s;
    -ms-transition: width 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s;
    transition: width 0.3s ease 0s;
    visibility: visible;
    width: 100%;
}

.header-search-wrapper .search-form-main .search-field {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #ffffff !important;
    font-size: 46px;
    font-style: italic;
    font-weight: 300;
    height: 80px;
    left: 50%;
    margin-left: -40%;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    width: 80%;
}

.header-search-wrapper .search-form-main .search-submit {
    display: none;
}

#edigital-header-cart a,
.header-search-wrapper .search-main {
    border: 1px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-weight: 700;
    height: 35px;
    line-height: 33px;
    margin: 12px 0 0 5px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 35px;
}

.header-search-wrapper .search-main {
    color: #fff;
    margin: 12px 15px 0 10px;
    cursor: pointer;
}

.header-search-wrapper .search-form-main .close {
    color: #ffffff;
    cursor: pointer;
    display: none;
    font-size: 50px;
    font-weight: 300;
    margin-top: 0;
    position: absolute;
    right: 30px;
    top: 30px;
}

.header-search-wrapper .search-form-main.active .close {
    display: block;
}

#edigital-header-cart .header-cart.edd-cart-quantity {
    background: #90C847;
    border-radius: 100%;
    display: block;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -12px;
    top: -6px;
    width: 20px;
}

#content > .entry-header {
    background: #f6f6f6 none repeat scroll 0 0;
    margin: 0 0 50px;
    padding: 20px 0;
}


/*--------------------------------------------------------------
Slider CSS
--------------------------------------------------------------*/

.single-slide-wrap,
.home-slider-wrapper {
    position: relative;
}

.single-slide-wrap figure {
    text-align: center;
}

.homepage-slider.lightSlider.lSSlide,
ul.homepage-slider {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.slider-content-wrapper {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 1200px;
}

.slider-content-wrapper .slide-title {
    color: #fff;
    display: inline-block;
    font-size: 58px;
    font-weight: 900;
    margin: 0;
    padding: 15px 50px;
    text-transform: uppercase;
}

.slide-title span {
    color: #90c847;
}

.slider-content-wrapper .slide-title a {
    color: #fff;
}

.slider-overlay {
    background: rgba(0, 0, 0, 0.55) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.slide-content {
    color: #efefef;
    font-size: 26px;
    font-weight: 400;
    margin: 10px 0 30px;
    text-transform: capitalize;
}

.slider-btn {
    display: inline-block;
    margin-top: 15px;
}

.slider-btn a {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
    border: 2px solid rgba(255, 255, 225, 0.6);
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 12px;
    padding: 6px 50px;
}

.slider-btn a:hover {
    color: #ffffff;
    background: #90C847;
    border-color: #90C847;
}

.home-slider-wrapper .lSAction {
    display: none;
}

.home-slider-wrapper .lSPager.lSpg {
    bottom: 30px;
    left: 0;
    position: absolute;
    width: 100%;
}

.home-slider-wrapper .lSSlideOuter .lSPager.lSpg > li a {
    background: rgba(255, 255, 255, 0.7) none repeat scroll 0 0;
    border-radius: 5px;
    height: 6px;
    margin: 0 2px;
    padding: 0 15px;
}

.home-slider-wrapper .lSSlideOuter .lSPager.lSpg > li.active a,
.home-slider-wrapper .lSSlideOuter .lSPager.lSpg > li:hover a {
    background: #90C847;
}


/*--------------------------------------------------------------
Service Css
--------------------------------------------------------------*/

.edigital-widget-wrapper {
    padding: 80px 0;
}

.edigital_service_section .edigital-widget-wrapper,
.edigital_service_section {
    margin: 0;
    padding-bottom: 30px;
}

.edigital-widget-wrapper .section-title-wrapper {
    margin-bottom: 40px;
    text-align: center;
}

.edigital-widget-wrapper .section-title-wrapper.no-title {
    display: none;
}

.edigital-widget-wrapper .section-title-wrapper .widget-title {
    border: medium none;
    color: #404040;
    font-size: 26px;
    font-weight: 700;
    padding: 0 0 15px;
    position: relative;
}

.edigital-widget-wrapper .section-title-wrapper .widget-title::after {
    background: #90c847 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -15px;
    position: absolute;
    width: 30px;
}

.edigital-widget-wrapper .section-title-wrapper .widget-title::before {
    background: #e1e1e1 none repeat scroll 0 0;
    bottom: 1px;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
    width: 80px;
}

.section-title-wrapper .section-info {
    display: block;
    font-size: 18px;
    margin: 0 auto 50px;
    text-transform: capitalize;
    width: 900px;
}

.edigital_service_section .post-title a {
    color: #333;
    display: block;
    font-size: 18px;
    margin: 25px 0 0;
    text-transform: uppercase;
}

.edigital_service_section .post-title a:hover {
    color: #90C847;
}

.edigital_service_section .single-post-wrapper {
    text-align: center;
}


/*--------------------------------------------------------------
Featured Product css
--------------------------------------------------------------*/

.edigital_featured_products .edigital-widget-wrapper {
    background: #f9f9f9 none repeat scroll 0 0;
}

.edigital_featured_products .product-caption,
.latest-products-wrapper .product-info-wrapper {
    background: #fff none repeat scroll 0 0;
    padding: 20px 15px 25px;
    text-align: center;
}

.featured-items-wrapper .prd-title,
.latest-products-wrapper .product-title {
    margin: 0 0 4px;
}

.featured-items-wrapper .prd-title a,
.latest-products-wrapper .product-title a {
    color: #333;
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 0 0 0;
    text-transform: uppercase;
}

.featured-items-wrapper .prd-title a:hover,
.latest-products-wrapper .product-title a:hover {
    color: #90C847;
}

.featured-items-wrapper .mt-more-btn,
.featured-items-wrapper .mt-edd-cart-btn,
.latest-products-wrapper .mt-more-btn,
.latest-products-wrapper .mt-edd-cart-btn {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    color: #b6b6b6;
    display: inline-block;
    margin: 0 3px;
    padding: 4px 10px;
}

.featured-items-wrapper .mt-more-btn:hover,
.featured-items-wrapper .mt-edd-cart-btn:hover,
.latest-products-wrapper .mt-more-btn:hover,
.latest-products-wrapper .mt-edd-cart-btn:hover {
    background: #90C847;
    color: #ffffff;
    border-color: #90C847;
}

.product-price {
    font-size: 16px;
    margin: 10px 0;
}

.featured-items-wrapper .single-post-wrapper,
.latest-products-wrapper .single-product-wrapper {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.featured-items-wrapper .single-post-wrapper:hover,
.latest-products-wrapper .single-product-wrapper:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.10);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}


/*--------------------------------------------------------------
Testimonial css
--------------------------------------------------------------*/

.testimonialsSlider .img-holder {
    float: left;
    width: 25%;
    position: relative;
}

.testimonialsSlider .single-post-wrapper {
    background: #fff none repeat scroll 0 0;
}

.testimonial-conent-wrapper {
    float: left;
    padding: 50px 20px 50px 40px;
    width: 75%;
}

.testimonialsSlider .client-name {
    font-size: 16px;
    text-transform: uppercase;
}

.testimonialsSlider .img-holder::after {
    background: #90C847 none repeat scroll 0 0;
    color: #fff;
    content: "\f10d";
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: -20px;
    text-align: center;
    top: 60px;
    width: 40px;
    font-family: FontAwesome;
}

.edigital_testimonials .lSSlideOuter,
.edigital-widget-wrapper,
.edigital_testimonials .mt-container {
    position: relative;
}

.edigital_testimonials .lSPager.lSpg {
    bottom: 20px;
    position: absolute;
    right: 20px;
}

.edigital_testimonials .lSPager.lSpg li a {
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    height: 10px;
    width: 10px;
}

.edigital_testimonials .lSPager.lSpg li.active a,
.edigital_testimonials .lSPager.lSpg li a:hover {
    background: #90C847;
}

.edigital_testimonials .edigital-widget-wrapper:before {
    background: rgba(28, 35, 38, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.edigital_testimonials .edigital-widget-wrapper .section-title-wrapper .widget-title,
.edigital_testimonials .section-title-wrapper .section-info {
    color: #fff;
}

.testimonial-content {
    font-size: 15px;
    padding: 0 20px 0 0;
}


/*--------------------------------------------------------------
Call to action css
--------------------------------------------------------------*/

.edigital_call_to_action .edigital-widget-wrapper {
    background: #90C847 none repeat scroll 0 0;
    padding: 50px 0 55px;
    position: relative;
}

.edigital_call_to_action .edigital-widget-wrapper::before {
    background: rgba(144, 200, 71, 0.85) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.cta-content {
    color: #fff;
    font-size: 42px;
    font-weight: 900;
    line-height: 1.3;
    text-transform: uppercase;
}

.cta-btn-wrap a {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
    border: 2px solid rgba(255, 255, 225, 0.6);
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin: 0 12px;
    padding: 6px 50px;
}

.edigital_call_to_action .cta-btn-wrap a:hover {
    background: #74aa2d none repeat scroll 0 0;
    border-color: #74aa2d;
    color: #ffffff;
}

.cta-content-wrapper {
    position: relative;
    text-align: center;
}

.cta-btn-wrap {
    margin-top: 20px;
}


/*--------------------------------------------------------------
About section css
--------------------------------------------------------------*/

.widget.edigital_single_page .widget-title {
    border: medium none;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}

.about-content {
    float: left;
    width: 60%;
}

.about-img {
    float: right;
    width: 37%;
}

.about-content a {
    background: #90C847 none repeat scroll 0 0;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    margin-top: 30px;
    padding: 5px 30px;
}

.widget.edigital_single_page .about-content a:hover {
    color: #fff;
}


/*--------------------------------------------------------------
Blog css 
--------------------------------------------------------------*/

.latest-posts-wrapper .blog-content-wrapper {
    padding: 20px 0 0;
}

.latest-posts-wrapper .post-thumb {
    position: relative;
}

.latest-posts-wrapper .blog-date {
    background: #90c847 none repeat scroll 0 0;
    bottom: 0;
    color: #ffffff;
    font-size: 16px;
    left: 0;
    padding: 10px 15px;
    position: absolute;
    text-align: center;
}

.latest-posts-wrapper .blog-date span {
    display: block;
    line-height: 22px;
    text-transform: uppercase;
}

.blog-content-wrapper .news-title {
    margin: 0 0 5px;
}

.blog-content-wrapper .news-title a {
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
}

.blog-content-wrapper .news-title a:hover {
    color: #90C847;
}

.blog-content-wrapper .post-meta .posted-on {
    display: none;
}

.blog-content-wrapper .post-meta span,
.blog-content-wrapper .post-meta span a {
    color: #909090;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    margin-right: 15px;
}

.blog-content-wrapper .post-meta span a {
    margin-right: 0;
}

.blog-content-wrapper .post-excerpt {
    font-size: 14px;
    padding: 20px 0 0;
}

.blog-content-wrapper .news-more {
    color: #90C847;
    display: inline-block;
    font-size: 14px;
    padding: 0;
}


/*--------------------------------------------------------------
Latest Product css 
--------------------------------------------------------------*/

.latest-products-wrapper .product-info-wrapper {
    padding: 20px 0;
}

.latest-products-wrapper .single-product-wrapper {
    float: left;
    margin-left: 3%;
    width: 22%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.latest-products-wrapper .product-thumb-wrap {
    position: relative;
    border-bottom: 3px solid #90C847;
}

.latest-products-wrapper .product-price {
    background: #90c847 none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    right: 0;
}

.latest-products-wrapper .product-vendor {
    float: left;
}

.latest-products-wrapper .product-btns {
    float: right;
}

.latest-products-wrapper .product-vendor .product-author > span {
    background: #90C847 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    width: 35px;
}

.latest-products-wrapper .product-details-wrap {
    border-top: 1px solid #e1e1e1;
    margin-top: 15px;
    padding: 15px 15px 0;
}


/*--------------------------------------------------------------
Search page css 
--------------------------------------------------------------*/

.search-results .entry-title,
.archive .entry-title,
.single .entry-title,
.entry-title {
    font-size: 28px;
    margin-bottom: 10px;
}

article .entry-title a {
    color: #333;
}

.entry-title a:hover {
    color: #90c847;
}

.entry-meta span a,
.entry-meta span {
    color: #9f9f9f;
    font-size: 13px;
    display: inline-block;
    font-style: normal;
}

.entry-meta span {
    margin-right: 5px;
    padding-right: 5px;
}

.entry-meta span a:hover,
.post-readmore a:hover {
    color: #90c847;
}

.single-post-image {
    margin: 0 0 20px;
}

/*--------------------------------------------------------------
EDD Inner page css 
--------------------------------------------------------------*/

.edd_download {
    padding: 0 20px;
}

.edd_downloads_list {
    margin: 0 -20px;
}

.edd_download_inner {
    margin: 0 0 40px;
    padding: 0;
}

.edd_downloads_list .edd_download_title {
    margin: 10px 0;
}

.edd_downloads_list .edd_download_title a {
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
}

.edd_downloads_list .edd_download_title a:hover {
    color: #90C847;
}

.edd_downloads_list.edd_download_columns_1 .edd_download_image {
    float: left;
    width: 18%;
}

.edd_downloads_list.edd_download_columns_1 .edd-extra-wrapper {
    float: right;
    width: 78%;
}

.edd_download_columns_1 .edd_download_inner::after {
    border-bottom: 1px solid #e1e1e1;
    clear: both;
    content: "";
    display: block;
    padding-bottom: 30px;
}

.edd_downloads_list.edd_download_columns_1 .edd_download_title {
    margin: -10px 0 15px;
}

#edd_download_pagination {
    font-size: 17px;
    margin-left: 20px;
}

.edd-submit.button.blue.active,
.edd-submit.button.blue:focus,
.edd-submit.button.blue:hover {
    background: #90C847;
}


/*--------------------------------------------------------------
Error 404 css 
--------------------------------------------------------------*/

.error-404.not-found {
    border: 1px solid #e1e1e1;
    margin: 0 auto;
    max-width: 700px;
}

.error404 .page-title {
    background: #90c847 none repeat scroll 0 0;
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.error-num {
    font-size: 114px;
    font-weight: 700;
    text-align: center;
}

.error-num > span {
    font-size: 34px;
    text-transform: uppercase;
}

.error404 .page-content {
    font-size: 14px;
    text-align: center;
}


/*--------------------------------------------------------------
Footer css 
--------------------------------------------------------------*/

#colophon {
    background: #1c2326 none repeat scroll 0 0;
    padding: 80px 0;
    text-align: center;
    margin: 60px 0 0;
}

.home #colophon {
    margin-top: 0;
}

.home.blog #colophon {
    margin-top: 60px;
}

.social-link a {
    color: #fff;
    display: inline-block;
    font-size: 26px;
    margin: 0 12px 10px;
}

.site-info a {
    color: #a3a3a3;
}

.social-link a:hover,
.site-info a:hover {
    color: #90c847;
}

.edd-submit.button.blue,
#edd-purchase-button,
.edd-submit,
input.edd-submit[type="submit"] {
    background: #90c847 none repeat scroll 0 0;
    border: medium none !important;
}

.footer-menu {
    margin: 30px 0 20px;
}

.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul.children,
.footer-menu ul.sub-menu {
    display: none;
}

.footer-menu ul li a {
    font-size: 15px;
    padding: 0 15px;
    text-transform: capitalize;
}

#colophon .site-info {
    color: #d6d6d6;
    font-size: 16px;
}

#colophon .site-info a {
    color: #90C847;
}


/*--------------------------------------------------------------
scroll to top css 
--------------------------------------------------------------*/

#mt-scrollup {
    background-color: #90C847;
    bottom: 20px;
    color: #ffffff;
    display: none;
    height: 40px;
    line-height: 35px;
    position: fixed;
    right: 20px;
    width: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#mt-scrollup {
    display: none;
}

#mt-scrollup:hover,
#mt-scrollup:focus,
#mt-scrollup:active {
    color: #ffffff;
    border-radius: 5px;
}


/*--------------------------------------------------------------
Responsive css 
--------------------------------------------------------------*/


/* Large desktop */

@media (min-width: 1000px) {
    #site-navigation ul {
        display: block !important;
    }
}

@media (max-width: 1200px) {
    .mt-container {
        padding: 0 10px;
        width: 100%;
    }
    .slider-content-wrapper {
        width: 800px;
    }
    .edigital_service_section .mt-column-3 {
        display: inline-block;
        float: none;
        margin-right: -4px;
        vertical-align: top;
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {}

@media (max-width: 979px) {
    .slider-content-wrapper .slide-title {
        font-size: 22px;
    }
    .slide-content {
        font-size: 16px;
        margin: 20px 0;
    }
    .slider-btn {
        font-size: 14px;
        padding: 6px 40px;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) {
    .edigital_service_section .mt-column-3 {
        width: 47%;
    }
}

@media (max-width: 767px) {
    .featured-items-wrapper .single-post-wrapper {
        width: 97%;
    }
    .about-img,
    .about-content {
        display: block;
        float: none;
        text-align: center;
        width: 100%;
    }
    .edigital_latest_blog .single-post-wrapper.mt-column-3 {
        width: 97%;
    }
    .edigital_latest_blog .single-post-wrapper.mt-column-3 {
        margin-bottom: 4%;
        width: 97%;
    }
    #primary,
    .home.blog #primary,
    #secondary,
    .home.blog #secondary {
        float: none;
        width: 100%;
    }
    .menu-toggle {
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 22px;
        line-height: 58px;
        margin-right: 10px;
    }
    #primary-menu {
        background: #1C2326 none repeat scroll 0 0;
        display: none;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 99;
    }
    .bottom-header-wrapper {
        position: relative;
    }
    #site-navigation ul li {
        display: block;
        float: none;
    }
    #site-navigation ul li a {
        line-height: 42px;
        color: #ffffff;
    }
    .sub-toggle {
        background: #90c847 none repeat scroll 0 0;
        color: #ffffff;
        cursor: pointer;
        display: block;
        height: 24px;
        line-height: 25px;
        position: absolute;
        right: 15px;
        text-align: center;
        top: 6px;
        width: 24px;
    }
    #site-navigation ul > li:hover > .sub-toggle,
    #site-navigation ul > li.current-menu-item .sub-toggle,
    #site-navigation ul > li.current-menu-ancestor .sub-toggle {
        background: #90c847;
    }
    .main-small-navigation li.current-menu-item > .sub-toggle {
        background: #ffffff none repeat scroll 0 0;
    }
    .main-small-navigation li.current-menu-item > .sub-toggle i {
        color: #d40234;
    }
    .menu-primary-container .sub-menu,
    #site-navigation li.menu-item-has-children > a::after {
        display: none;
    }
    #site-navigation ul.sub-menu,
    #site-navigation ul.children {
        position: static;
        min-width: 100%;
        opacity: 1;
        top: 0;
        left: 0;
        visibility: visible;
        display: none;
        background: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    #site-navigation ul > li:hover > .sub-menu,
    #site-navigation ul > li:hover > .children {
        top: 0;
    }
    .slide-content {
        display: none;
    }
    .slider-content-wrapper .slide-title {
        margin-bottom: 30px;
    }
    .slider-content-wrapper {
        top: 50%;
    }
    .slider-content-wrapper {
        width: 80%;
    }
    .edigital_latest_blog .single-post-wrapper img,
    .latest-products-wrapper .single-product-wrapper.mt-column-4 img {
        width: 100%;
    }
    .latest-products-wrapper .single-product-wrapper.mt-column-4 {
        margin-bottom: 3%;
        width: 47%;
    }
}


/* Landscape phones and down */

@media (max-width: 600px) {
    #page {
        position: relative;
    }
    body {
        position: static;
    }
    .edigital_service_section .mt-column-3,
    .latest-products-wrapper .single-product-wrapper.mt-column-4 {
        width: 97%;
    }
    .testimonialsSlider .img-holder,
    .testimonial-conent-wrapper {
        width: 100%;
    }
    .cta-content {
        font-size: 18px;
    }
    .testimonialsSlider .img-holder::after {
        bottom: -20px;
        left: 50%;
        margin-left: -20px;
        right: auto;
        top: auto;
    }
    .slider-btn {
        display: none;
    }
    .slider-content-wrapper .slide-title {
        font-size: 14px;
        margin: 40px 0 0 !important;
        padding: 0;
    }
    .site-branding a.custom-logo-link {
        display: block;
        width: 80%;
    }
    .home-slider-wrapper .lSPager.lSpg {
        bottom: 5px;
    }
    .home-slider-wrapper .lSSlideOuter .lSPager.lSpg > li a {
        margin: 0;
        padding: 0 10px;
    }
    .edigital-widget-wrapper {
        padding: 50px 0;
    }
    .testimonialsSlider img {
        width: 100%;
    }
    .cta-btn-wrap a {
        font-size: 15px;
        padding: 2px 20px;
    }
    .edd_download {
        width: 100% !important;
    }
    .edd_downloads_list.edd_download_columns_1 .edd_download_image,
    .edd_downloads_list.edd_download_columns_1 .edd-extra-wrapper {
        width: 100%;
        float: none;
    }
    .edd_downloads_list.edd_download_columns_1 .edd_download_title {
        margin: 10px 0;
    }
    .error-num {
        font-size: 80px;
    }
}
